.elementor-328 .elementor-element.elementor-element-ddfdf5c>.elementor-container {
	max-width: 500px;
	min-height: 400px;
}

.elementor-328 .elementor-element.elementor-element-ddfdf5c:not(.elementor-motion-effects-element-type-background),
.elementor-328 .elementor-element.elementor-element-ddfdf5c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../img/industries-logistics-header-2732x1536-1-scaled.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-328 .elementor-element.elementor-element-ddfdf5c>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0.4;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-328 .elementor-element.elementor-element-ddfdf5c {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-328 .elementor-element.elementor-element-0b5bcb3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-328 .elementor-element.elementor-element-b50b84c {
	text-align: center;
}

.elementor-328 .elementor-element.elementor-element-b50b84c .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Open Sans", Sans-serif;
	font-size: 50px;
	font-weight: 700;
	font-style: normal;
	line-height: 1.2em;
}

.elementor-328 .elementor-element.elementor-element-2f0434d3>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-328 .elementor-element.elementor-element-2f0434d3:not(.elementor-motion-effects-element-type-background),
.elementor-328 .elementor-element.elementor-element-2f0434d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: rgba(240, 240, 240, 0.35);
}

.elementor-328 .elementor-element.elementor-element-2f0434d3 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px 0px 100px 0px;
}

.elementor-328 .elementor-element.elementor-element-2f0434d3>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-328 .elementor-element.elementor-element-3820bf9a>.elementor-element-populated {
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.elementor-328 .elementor-element.elementor-element-272eb284>.elementor-container {
	text-align: center;
}

.elementor-328 .elementor-element.elementor-element-5494ea3f>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-73cd3e92 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-73cd3e92 img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-5817414 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-5817414 .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-22e70390>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-37f675b2 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-37f675b2 img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-1ba9b80c {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-1ba9b80c .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-7df1df13>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-29a3d44c {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-29a3d44c img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-7a700df7 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-7a700df7 .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-83950e2>.elementor-container {
	text-align: center;
}

.elementor-328 .elementor-element.elementor-element-83950e2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.elementor-328 .elementor-element.elementor-element-38f3c4e>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-0ee2636 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-0ee2636 img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-7e6e289 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-7e6e289 .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-9de1dd0>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-ea1ae62 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-ea1ae62 img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-3601fbf {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-3601fbf .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-852c9bb>.elementor-element-populated {
	padding: 0% 10% 0% 0%;
}

.elementor-328 .elementor-element.elementor-element-97c2d54 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-97c2d54 img {
	border-radius: 5px 5px 5px 5px;
}

.elementor-328 .elementor-element.elementor-element-3b74189 {
	text-align: left;
}

.elementor-328 .elementor-element.elementor-element-3b74189 .elementor-heading-title {
	color: #242424;
}

.elementor-328 .elementor-element.elementor-element-1c65441:not(.elementor-motion-effects-element-type-background),
.elementor-328 .elementor-element.elementor-element-1c65441>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #271887;
}

.elementor-328 .elementor-element.elementor-element-1c65441>.elementor-background-overlay {
	opacity: 0.65;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-328 .elementor-element.elementor-element-1c65441 {
	transition: background 0.8s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 104px 0px 80px 0px;
}

.elementor-328 .elementor-element.elementor-element-eb5824c>.elementor-element-populated {
	margin: 0px 80px 0px 0px;
}

.elementor-328 .elementor-element.elementor-element-7e18411 .elementor-heading-title {
	color: #FFFFFF;
}

.elementor-328 .elementor-element.elementor-element-ca5794b {
	color: #FFFFFF;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-view-stacked .elementor-icon {
	background-color: rgba(37, 57, 147, 0.25);
	fill: #FFDE00;
	color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-view-framed .elementor-icon,
.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-view-default .elementor-icon {
	fill: rgba(37, 57, 147, 0.25);
	color: rgba(37, 57, 147, 0.25);
	border-color: rgba(37, 57, 147, 0.25);
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-view-framed .elementor-icon {
	background-color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-position-right .elementor-icon-box-icon {
	margin-left: 17px;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-position-left .elementor-icon-box-icon {
	margin-right: 17px;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 17px;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon {
	font-size: 44px;
	padding: 0px;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon-box-title {
	margin-bottom: 14px;
	color: #ffffff;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon-box-description {
	color: #DADEEF;
	line-height: 1.4em;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d>.elementor-widget-container {
	margin: 0px 0px 32px 0px;
}

.elementor-328 .elementor-element.elementor-element-de2cf2d {
	width: 50%;
	max-width: 50%;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-view-stacked .elementor-icon {
	background-color: rgba(37, 57, 147, 0.25);
	fill: #FFDE00;
	color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-view-framed .elementor-icon,
.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-view-default .elementor-icon {
	fill: rgba(37, 57, 147, 0.25);
	color: rgba(37, 57, 147, 0.25);
	border-color: rgba(37, 57, 147, 0.25);
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-view-framed .elementor-icon {
	background-color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-position-right .elementor-icon-box-icon {
	margin-left: 16px;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-position-left .elementor-icon-box-icon {
	margin-right: 16px;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 16px;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon {
	padding: 0px;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon-box-title {
	margin-bottom: 14px;
	color: #ffffff;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon-box-description {
	color: #DADEEF;
	line-height: 1.4em;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb>.elementor-widget-container {
	margin: 0px 0px 32px 0px;
}

.elementor-328 .elementor-element.elementor-element-4fb66cb {
	width: 50%;
	max-width: 50%;
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-view-stacked .elementor-icon {
	background-color: rgba(37, 57, 147, 0.25);
	fill: #FFDE00;
	color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-view-framed .elementor-icon,
.elementor-328 .elementor-element.elementor-element-621649e.elementor-view-default .elementor-icon {
	fill: rgba(37, 57, 147, 0.25);
	color: rgba(37, 57, 147, 0.25);
	border-color: rgba(37, 57, 147, 0.25);
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-view-framed .elementor-icon {
	background-color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-position-right .elementor-icon-box-icon {
	margin-left: 16px;
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-position-left .elementor-icon-box-icon {
	margin-right: 16px;
}

.elementor-328 .elementor-element.elementor-element-621649e.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 16px;
}

.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon {
	padding: 0px;
}

.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon-box-title {
	margin-bottom: 14px;
	color: #ffffff;
}

.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon-box-description {
	color: #DADEEF;
	line-height: 1.4em;
}

.elementor-328 .elementor-element.elementor-element-621649e>.elementor-widget-container {
	margin: 0px 0px 32px 0px;
}

.elementor-328 .elementor-element.elementor-element-621649e {
	width: 50%;
	max-width: 50%;
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-view-stacked .elementor-icon {
	background-color: rgba(37, 57, 147, 0.25);
	fill: #FFDE00;
	color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-view-framed .elementor-icon,
.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-view-default .elementor-icon {
	fill: rgba(37, 57, 147, 0.25);
	color: rgba(37, 57, 147, 0.25);
	border-color: rgba(37, 57, 147, 0.25);
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-view-framed .elementor-icon {
	background-color: #FFDE00;
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-position-right .elementor-icon-box-icon {
	margin-left: 16px;
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-position-left .elementor-icon-box-icon {
	margin-right: 16px;
}

.elementor-328 .elementor-element.elementor-element-baf4c32.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 16px;
}

.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon {
	padding: 0px;
}

.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon-box-title {
	margin-bottom: 14px;
	color: #ffffff;
}

.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon-box-description {
	color: #DADEEF;
	line-height: 1.4em;
}

.elementor-328 .elementor-element.elementor-element-baf4c32>.elementor-widget-container {
	margin: 0px 0px 32px 0px;
}

.elementor-328 .elementor-element.elementor-element-baf4c32 {
	width: 50%;
	max-width: 50%;
}

.elementor-bc-flex-widget .elementor-328 .elementor-element.elementor-element-98d9748.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-328 .elementor-element.elementor-element-98d9748.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-328 .elementor-element.elementor-element-98d9748:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-328 .elementor-element.elementor-element-98d9748>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F9FAFF;
}

.elementor-328 .elementor-element.elementor-element-98d9748>.elementor-element-populated {
	box-shadow: 0px 16px 0px -8px #FFDE00;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 40px;
	padding: 40px 32px 24px 32px;
}

.elementor-328 .elementor-element.elementor-element-98d9748>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-328 .elementor-element.elementor-element-98d9748 {
	z-index: 1;
}

.elementor-328 .elementor-element.elementor-element-b2124d2>.elementor-widget-container {
	padding: 0px 0px 10px 0px;
}

@media(min-width:768px) {
	.elementor-328 .elementor-element.elementor-element-eb5824c {
		width: 60%;
	}

	.elementor-328 .elementor-element.elementor-element-98d9748 {
		width: 40%;
	}
}

@media(max-width:1024px) {
	.elementor-328 .elementor-element.elementor-element-ddfdf5c {
		padding: 250px 20px 250px 20px;
	}

	.elementor-328 .elementor-element.elementor-element-0b5bcb3>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-b50b84c .elementor-heading-title {
		font-size: 42px;
	}

	.elementor-328 .elementor-element.elementor-element-2f0434d3 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 50px 0px 0px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-272eb284 {
		padding: 20px 20px 20px 20px;
	}

	.elementor-328 .elementor-element.elementor-element-5817414 {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-1ba9b80c {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-7a700df7 {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-83950e2 {
		padding: 20px 20px 20px 20px;
	}

	.elementor-328 .elementor-element.elementor-element-7e6e289 {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-3601fbf {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-3b74189 {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-1c65441 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 80px 0px 80px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-eb5824c>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 80px 40px 40px;
	}

	.elementor-328 .elementor-element.elementor-element-ca5794b>.elementor-widget-container {
		margin: 0px 160px 50px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-98d9748>.elementor-element-populated {
		margin: 0px 40px 0px 40px;
	}
}

@media(max-width:767px) {
	.elementor-328 .elementor-element.elementor-element-ddfdf5c {
		padding: 150px 20px 150px 20px;
	}

	.elementor-328 .elementor-element.elementor-element-b50b84c .elementor-heading-title {
		font-size: 36px;
	}

	.elementor-328 .elementor-element.elementor-element-272eb284 {
		padding: 0px 0px 0px 30px;
	}

	.elementor-328 .elementor-element.elementor-element-5494ea3f>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-22e70390>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-7df1df13>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-83950e2 {
		padding: 0px 0px 0px 30px;
	}

	.elementor-328 .elementor-element.elementor-element-38f3c4e>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-9de1dd0>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-852c9bb>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		padding: 0% 0% 0% 0%;
	}

	.elementor-328 .elementor-element.elementor-element-1c65441 {
		padding: 64px 0px 64px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-eb5824c>.elementor-element-populated {
		padding: 0px 32px 0px 24px;
	}

	.elementor-328 .elementor-element.elementor-element-ca5794b>.elementor-widget-container {
		margin: 0px 40px 0px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon-box-icon {
		margin-bottom: 17px;
	}

	.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon-box-wrapper {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-de2cf2d .elementor-icon-box-title {
		margin-bottom: 12px;
	}

	.elementor-328 .elementor-element.elementor-element-de2cf2d>.elementor-widget-container {
		margin: 0px 14px 32px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-de2cf2d {
		width: 100%;
		max-width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon-box-icon {
		margin-bottom: 16px;
	}

	.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon-box-wrapper {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-4fb66cb .elementor-icon-box-title {
		margin-bottom: 12px;
	}

	.elementor-328 .elementor-element.elementor-element-4fb66cb>.elementor-widget-container {
		margin: 0px 14px 32px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-4fb66cb {
		width: 100%;
		max-width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon-box-icon {
		margin-bottom: 16px;
	}

	.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon-box-wrapper {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-621649e .elementor-icon-box-title {
		margin-bottom: 12px;
	}

	.elementor-328 .elementor-element.elementor-element-621649e>.elementor-widget-container {
		margin: 0px 14px 32px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-621649e {
		width: 100%;
		max-width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon-box-icon {
		margin-bottom: 16px;
	}

	.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon-box-wrapper {
		text-align: left;
	}

	.elementor-328 .elementor-element.elementor-element-baf4c32 .elementor-icon-box-title {
		margin-bottom: 12px;
	}

	.elementor-328 .elementor-element.elementor-element-baf4c32>.elementor-widget-container {
		margin: 0px 14px 32px 0px;
	}

	.elementor-328 .elementor-element.elementor-element-baf4c32 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-98d9748>.elementor-element-populated {
		margin: 24px 24px 24px 24px;
		padding: 32px 24px 16px 24px;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-328 .elementor-element.elementor-element-3820bf9a {
		width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-eb5824c {
		width: 100%;
	}

	.elementor-328 .elementor-element.elementor-element-98d9748 {
		width: 100%;
	}
}
